{% extends "base.html" %}

{% block title %}Blog App{% endblock %}

{% block content %}
<!-- Scrollable Blog Posts Container -->
<div class="blog-posts-container col-md-8">
    <div class="blog-post">
        <h2>First Blog Post</h2>
        <p>Welcome to my blog! This is a simple blog post example.</p>
    </div>

    <div class="blog-post">
        <h2>Second Blog Post</h2>
        <p>Another blog post with some content...</p>
    </div>

    <div class="blog-post">
        <h2>Third Blog Post</h2>
        <p>More blog content coming soon!</p>
    </div>
</div>
{% endblock %}